%h2 upcoming features
%ul
  %li
    iphone app
    = image_tag('sneeze-iphone.jpg')
  %li
    android app
    = image_tag('sneeze-android.jpg')
  %li
    ipad app  
    = image_tag('sneeze-ipad.jpg')
  %li facebook connect integration
  %li twitter integration
  %li report a sneeze - If you sneeze, and no one else is around to hear it (or no one is nice enough), and bless you, then you can report it and get e-bless-yous from the blessr community
  %li be able to log in and then put in a list of your co-workers, so it appears like a buddy list. Then you can just click on a name whenever they sneeze and an email gets fired to them. No typing neccessary!