body {
  font-family: sans-serif;
  background: white;
  color: black;
  padding: 10px;
  text-align: center; }

#header {
  width: 800px;
  text-align: left;
  padding: 10px;
  -webkit-box-shadow: 3px 3px 3px #666666;
  -moz-box-shadow: 3px 3px 3px #666666;
  box-shadow: 3px 3px 3px #666666;
  margin-left: auto;
  margin-right: auto;
  background: #ddf1ff;
  background: -webkit-gradient(linear, 0% 0%, 0% 93%, from(#9ab8ff), to(#9fb8ff), color-stop(0.8, #719fed));
  background: -moz-linear-gradient(0% 93% 90deg, #9ab8ff, #9fb8ff, #6193ed 80%);
  margin-bottom: 0;
  border: 1px solid black;
  border-bottom: 0;
  overflow: auto;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }
  #header h1 {
    margin-bottom: 0;
    float: left; }
    #header h1 img {
      vertical-align: text-top; }
    #header h1 .smallText, #header h1 .footNotes {
      font-size: 0.2em; }
  #header .nav {
    float: right; }
    #header .nav a {
      color: #333333; }

#main {
  width: 800px;
  text-align: left;
  padding: 10px;
  -webkit-box-shadow: 3px 3px 3px #666666;
  -moz-box-shadow: 3px 3px 3px #666666;
  box-shadow: 3px 3px 3px #666666;
  margin-left: auto;
  margin-right: auto;
  background: #f7fcff;
  border: 1px solid black;
  border-top: 0;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; }
  #main #footer {
    padding-top: 40px; }
    #main #footer #copyright {
      text-align: center;
      font-size: 0.9em;
      color: grey; }

.contentBlock, form {
  margin-bottom: 3em; }

form {
  border: 0.18em dotted grey;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 1em; }
  form label {
    display: block; }

textarea {
  height: 4em; }

a {
  color: #1144aa; }

img {
  border: 0px; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none; }

.smallText, .footNotes {
  font-size: 0.5em; }

#flash {
  background: white;
  border: 1px solid gray;
  color: gray;
  font-weight: bold;
  margin-bottom: 2em;
  padding: 5px;
  text-align: center;
  -moz-border-radius: 10px;
  border-radius: 10px; }

#howDoesItWork {
  overflow: hidden; }
  #howDoesItWork li {
    float: left;
    width: 175px; }
  #howDoesItWork img {
    display: block; }

.footNotes {
  margin-left: 2em; }

#new_bless_you {
  width: 22em; }
